[mysqld]
bind-address = 0.0.0.0

 require_secure_transport = OFF
default_authentication_plugin = caching_sha2_password
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_connections = 200
